<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  <system.diagnostics>
    <switches>
      <add name="fixmlOriginalXml" value="0" />
      <add name="fixmlFormattedXml" value="0" />
      <add name="fixmlParsedMessage" value="0" />
      <add name="fixmlInternals" value="0" />
    </switches>
  </system.diagnostics>
</configuration>
